.graph-wrapper {
    height: 100%;
}
.text-in-circle {
    height: 100%;
    width: 100%;
    text-align: center;
    margin: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    line-height: 0;
    justify-content: center;
    font-size: 10px;
}
